.test_images{
    height: 90px;
    width: 90px;
}
.websites{
    color: red;
    font-size: 20px;
}

body{
    background-color: aquamarine;
}
.result{
    color: green;
}
.accurate{
    width: 750px;
}